* {
    margin: 0;
    padding: 0;
}

body {
    background: #EFEFEF;
    color: black;
}

a {
    text-decoration: none;
}

ul, ol {
    list-style: none;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
}

hr {
    height: 0;
    border: none;
    border-top: 1px solid #DEDEDE;
}

svg.icon {
    width: 1em;
    height: 1em;
    vertical-align: -0.15em;
    fill: currentColor;
    overflow: hidden;
}

.clearfix::after {
    content: '';
    display: block;
    clear: both;
}

[data-x].offset {
    transform: translateY(200px);
}

[data-x] {
    transform: translateY(0);
    transition: all .3s ease-in-out;
}

@keyframes slideUp {
    0% {
        transform: translateY(100px)
    }
    100% {
        transform: translate(0)
    }
}

.topNavBar {
    padding: 20px 0;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1;
    color: #b7b7b7;
    transition: 0.4s all;
}

.topNavBar.sticky {
    background-color: white;
    color: #565656;
    padding: 10px 0;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.5);
}

.topNavBar.sticky .topNavBar-inner nav {
    padding-top: 4px;
}

.topNavBar-inner {
    padding: 0 16px;
}

.topNavBar-inner .logo {
    padding: 3px 0 4px 0;
    float: left;
    font-size: 24px;
    font-family: 'Arial Black';
    text-decoration: none;
}

.topNavBar-inner .logo .rs {
    padding-right: 4px;
    color: #e6686a;
}

.topNavBar-inner .logo .card {
    color: #9a9da2;
}

.topNavBar-inner nav {
    padding-top: 7px;
    float: right;
}

.topNavBar-inner nav>ul>li {
    float: left;
    margin: 0 17px;
    font-size: 12px;
    position: relative;
}

.topNavBar-inner nav>ul>li a {
    color: inherit;
    font-weight: bold;
    border-top: 3px solid transparent;
    border-bottom: 3px solid transparent;
    padding: 5px 0;
    display: block;
    position: relative;
}

.topNavBar-inner nav>ul>li .submenu {
    display: none;
}

.topNavBar-inner nav>ul>li.active .submenu {
    display: block;
    position: absolute;
    cursor: pointer;
    right: 0;
    top: 100%;
    background: white;
    font-size: 16px;
    color: #3d4451;
    padding: 10px 20px;
    animation: submenuSlide .4s ease-in-out;
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.3);
}

@keyframes submenuSlide {
    0% {
        opacity: 0;
        margin-right: 100%;
    }
    100% {
        opacity: 1;
        margin-right: 0;
    }
}

.topNavBar-inner nav>ul>li .submenu li {
    white-space: nowrap;
    display: block;
    padding: 5px 0;
}

.topNavBar-inner nav>ul>li.active a::after, .topNavBar-inner nav>ul>li:hover a::after, .topNavBar-inner nav>ul>li.highlight a::after {
    content: '';
    position: absolute;
    display: block;
    height: 3px;
    top: 100%;
    left: 0;
    width: 100%;
    background: #e06567;
    animation: menuSlide .3s;
}

@keyframes menuSlide {
    0% {
        width: 0;
    }
    100% {
        width: 100%;
    }
}

.banner {
    background-image: url('../img/apex.jpg');
    background-size: auto 515px;
    background-position: center center;
    height: 515px;
}

.banner .mask {
    height: 515px;
    background-color: rgba(0, 0, 0, 0.7);
}

.nameCard {
    background-color: white;
    max-width: 940px;
    margin: -340px auto 0;
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.3);
}

.nameCard .picNtext {
    padding: 50px;
}

.nameCard .pic {
    float: left;
}

.nameCard .text {
    float: left;
    margin-left: 65px;
    width: 56%;
    /* border: 1px solid red; */
}

.nameCard .text .welcome {
    display: inline-block;
    background: #e6686a;
    color: white;
    padding: 4px 16px;
    line-height: 22px;
    position: relative;
    margin-bottom: 10px;
    /* z-index: 0.5; */
}

.nameCard .text .welcome::after {
    content: '';
    display: block;
    border-top: 10px solid #e6686a;
    border-right: 10px solid transparent;
    width: 0;
    height: 0;
    position: absolute;
    top: 100%;
    left: 4px;
}

.nameCard .text h1 {
    margin-top: 18px;
}

.nameCard .text hr {
    margin: 20px 0;
    /* width: 100%; */
}

.nameCard .text dl dt, .nameCard .text dl dd {
    float: left;
    padding: 5px 0;
}

.nameCard .text dl dt {
    width: 30%;
    font-weight: bold;
}

.nameCard .text dl dd {
    width: 70%;
    color: #9da0a7;
}

.nameCard .media {
    background: #E6686A;
    text-align: center;
}

.nameCard .media a {
    border-radius: 50%;
    padding: 8px;
    line-height: 26px;
    display: inline-block;
    margin: 13px;
}

.nameCard .media a:hover {
    background: #CF5D5F;
}

.nameCard .media .icon {
    width: 26px;
    height: 26px;
    fill: white;
    vertical-align: top;
}

.download-wrapper {
    text-align: center;
}

.download-wrapper .button {
    display: inline-block;
    color: #3d4451;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 2px;
    line-height: 16px;
    padding: 21px 55px;
    margin: 32px 0;
    border: 1px solid #cdcfd1;
    background: #efefef;
    border-radius: 2px;
    transition: box-shadow 0.2s;
}

.download-wrapper .button:hover {
    box-shadow: 0px 4px 13px 0px rgba(0, 0, 0, 0.3);
}

.selfIntro {
    max-width: 940px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    line-height: 1.8;
    font-size: 18px;
}

.skills, .portfolio {
    max-width: 940px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 60px;
}

.skills h2, .portfolio h2 {
    text-align: center;
    color: #3d4451;
    font-size: 34px;
    line-height: 1.2;
    font-weight: 600;
    /* word-spacing: 30px; */
}

.skills h3 {
    font-size: 14px;
    line-height: 1.1;
    /* padding-right: 40px; */
}

/* 浮动+border-box实现 */

/* 
.skills ol {
    background: white;
    box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.5);
    padding: 42px 50px 10px;
    margin-top: 30px;
}

.skills ol li {
    width: 48%;
    float: left;
    box-sizing: border-box;
}

.skills ol li:nth-child(even) {
    float: right;
}*/

.skills .progressBar {
    height: 5px;
    background: #FAE1E1;
    border-radius: 2px;
    margin: 4px 0 40px;
    overflow: hidden;
}

.skills .progressBar .progress {
    height: 100%;
    background: #E6686A;
    border-radius: 2px;
    transform: translateX(0);
    transition: all 1s ease-out;
}

.skills.offset .progressBar .progress {
    transform: translateX(-100%);
}

/* flex实现 */

.skills ol {
    display: flex;
    flex-direction: flow;
    flex-wrap: wrap;
    justify-content: center;
    background: white;
    box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.5);
    padding: 42px 50px 10px;
    margin-top: 30px;
}

.skills ol li {
    width: 48%;
}

.skills ol li:nth-child(odd) {
    margin: 0 15px 0 0;
}

.skills ol li:nth-child(even) {
    margin: 0 0 0 15px;
}

.portfolio {
    margin-bottom: 100px
}

.portfolio .swiper-container {
    width: 668px;
    height: 501px;
    margin-top: 30px;
}

.portfolio .swiper-container .swiper-slide {
    object-position: center center;
    object-fit: cover;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-button-next, .swiper-button-prev {
    color: rgba(255, 255, 255, 0.4);
    background-color: rgba(0, 0, 0, 0.15);
    background-size: 50%;
    border-radius: 3px;
}

.swiper-button-next:hover, .swiper-button-prev:hover {
    background-color: rgba(0, 0, 0, 0.35);
}

.swiper-button-prev {
    left: 0;
}

.swiper-button-next {
    right: 0;
}