* {
    margin: 0;
    padding: 0;
}

body {
    background: #EFEFEF;
    color: black;
}

a {
    text-decoration: none;
}

ul,
ol {
    list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: normal;
}

hr {
    height: 0;
    border: none;
    border-top: 1px solid #DEDEDE;
}

.clearfix::after {
    content: '';
    display: block;
    clear: both;
}

.topNavBar {
    padding: 20px 0;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
}

.banner {
    background-image: url('./img/apex.jpg');
    background-size: auto 515px;
    background-position: center center;
    height: 515px;
}

.banner .mask {
    height: 515px;
    background-color: rgba(0, 0, 0, 0.7);
}

.topNavBar-inner {
    padding: 0 16px;
}

.topNavBar-inner .logo {
    padding: 3px 0 4px 0;
    float: left;
    font-size: 24px;
    font-family: 'Arial Black';
    text-decoration: none;
}

.topNavBar-inner .logo .rs {
    padding-right: 4px;
    color: #e6686a;
}

.topNavBar-inner .logo .card {
    color: #9a9da2;
}

.topNavBar-inner nav {
    padding-top: 7px;
    float: right;
}

.topNavBar-inner nav ul {
    list-style: none;
}

.topNavBar-inner nav ul li {
    float: left;
    margin: 0 17px;
}

.topNavBar-inner nav ul li a {
    color: #b7b7b7;
    font-size: 12px;
    font-weight: bold;
    border-top: 3px solid transparent;
    border-bottom: 3px solid transparent;
    padding: 5px 0;
    display: block;
}

.topNavBar-inner nav ul li a:hover {
    border-bottom: 3px solid #e06567;
}

.nameCard {
    background-color: white;
    max-width: 940px;
    margin: -340px auto 0;
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.3);
}

.nameCard .picNtext {
    padding: 50px;
}

.nameCard .pic {
    float: left;
}

.nameCard .text {
    float: left;
    margin-left: 65px;
    width: 56%;
    /* border: 1px solid red; */
}

.nameCard .text .welcome {
    display: inline-block;
    background: #e6686a;
    color: white;
    padding: 4px 16px;
    line-height: 22px;
    position: relative;
    margin-bottom: 10px;
}

.nameCard .text .welcome::after {
    content: '';
    display: block;
    border-top: 10px solid #e6686a;
    border-right: 10px solid transparent;
    width: 0;
    height: 0;
    position: absolute;
    top: 100%;
    left: 4px;
}

.nameCard .text h1 {
    margin-top: 18px;
}

.nameCard .text hr {
    margin: 20px 0;
    /* width: 100%; */
}

.nameCard .text dl dt,
.nameCard .text dl dd {
    float: left;
    padding: 5px 0;
}

.nameCard .text dl dt {
    width: 30%;
    font-weight: bold;
}

.nameCard .text dl dd {
    width: 70%;
    color: #9da0a7;
}

.nameCard .media {
    background: #E6686A;
    text-align: center;
}

.nameCard .media a {
    border-radius: 50%;
    padding: 8px;
    line-height: 26px;
    display: inline-block;
    margin: 13px;
}

.nameCard .media a:hover {
    background: #CF5D5F;
}

.nameCard .media .icon {
    width: 26px;
    height: 26px;
    fill: white;
    vertical-align: top;
}

.download-wrapper {
    text-align: center;
}

.download-wrapper .button {
    display: inline-block;
    color: #3d4451;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 2px;
    line-height: 16px;
    padding: 21px 55px;
    margin: 32px 0;
    border: 1px solid #cdcfd1;
    background: #efefef;
    border-radius: 2px;
    transition: box-shadow 0.2s;
}

.download-wrapper .button:hover {
    box-shadow: 0px 4px 13px 0px rgba(0, 0, 0, 0.3);
}

.selfIntro {
    max-width: 940px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    line-height: 1.8;
    font-size: 18px;
}

.skills,
.portfolio {
    max-width: 940px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 60px;
}

.skills h2,
.portfolio h2 {
    text-align: center;
    color: #3d4451;
    font-size: 34px;
    line-height: 1.2;
    font-weight: 600;
    /* word-spacing: 30px; */
}

.skills h3 {
    font-size: 14px;
    line-height: 1.1;
    /* padding-right: 40px; */
}


/* 浮动+border-box实现 */


/* 
.skills ol {
    background: white;
    box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.5);
    padding: 42px 50px 10px;
    margin-top: 30px;
}

.skills ol li {
    width: 48%;
    float: left;
    box-sizing: border-box;
}

.skills ol li:nth-child(even) {
    float: right;
}*/

.skills .progressBar {
    height: 5px;
    background: #FAE1E1;
    border-radius: 2px;
    margin: 4px 0 40px;
}

.skills .progressBar .progress {
    height: 100%;
    background: #E6686A;
    border-radius: 2px;
}


/* flex实现 */

.skills ol {
    display: flex;
    flex-direction: flow;
    flex-wrap: wrap;
    justify-content: center;
    background: white;
    box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.5);
    padding: 42px 50px 10px;
    margin-top: 30px;
}

.skills ol li {
    width: 48%;
}

.skills ol li:nth-child(odd) {
    margin: 0 15px 0 0;
}

.skills ol li:nth-child(even) {
    margin: 0 0 0 15px;
}

.portfolio {
    margin-bottom: 100px
}

.portfolio nav {
    /* display: flex; */
    margin-top: 32px;
}

.portfolio nav ol {
    width: 270px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.portfolio nav ol li {
    cursor: pointer;
    flex: 1
}

.portfolio nav .bar {
    height: 5px;
    width: 270px;
    background: white;
    margin: 5px auto 28px;
    border-radius: 2px;
}

.portfolio nav .bar .bar-inner {
    height: 100%;
    background: #E6686A;
    border-radius: 2px;
    transition: all 0.3s;
}

.portfolio nav .bar.state-1 .bar-inner {
    margin-left: 0;
    width: 60px;
}

.portfolio nav .bar.state-2 .bar-inner {
    margin-left: 60px;
    width: 90px;
}

.portfolio nav .bar.state-3 .bar-inner {
    margin-left: 150px;
    width: 120px;
}


/* .portfolio nav .works {
    max-width: 940px;
    height: 597px;
}

.portfolio nav .works div {
    float: left;
} */

.portfolio .works {
    position: relative;
}

.portfolio .works>.big,
.portfolio .works>.small {
    position: absolute;
}